<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Video Streaming Example</h1>
    <video controls width="640" height="360">
        <source src="/video/video.mkv" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
    </video>
  </body>
</html>
